{% set sectorsSubPage = data.contents | findContent('sectors-sub-page','result') %}
{% if sectorsSubPage and sectorsSubPage.length != "" and sectorsSubPage != "false" %}
<section class="sectors -animation" lazy="-done" lazy-element>
  
  <div class="sectors__container">
    {% for item in sectorsSubPage %}
    {% set item = item[0] %}

    {% set sectorIcon = item.contents | findContent('sector-icon') %}
    {% set sectorText = item.contents | findContent('sector-text') %}

    {% if loop.index < 4 %}
      <div class="sectors__item">
        <div class="sectors__icon">
          <img lazy="{{sectorIcon}}" width="100" height="100" alt="{{item.name}}">
        </div>
        <h3 class="sectors__title">{{item.name}}</h3>
        <p class="sectors__text">{{sectorText}}</p>
        <a href="{{item.path}}" class="sectors__detail-link">
          <span>{{ data.languagesTags | findTag('detail-information-text', data.content.languageID) }}</span>
          <img lazy="/assets/svg/blue-arrow-icon.svg" width="26" height="13" alt="Detail Information">
        </a>
      </div>
    {% endif %}
    {% endfor %}
    
  </div>

  <div class="sectors-all all-container">
    <a href="/" class="sectors-all__link all-link">{{ data.languagesTags | findTag('all-sectors-button', data.content.languageID) }}</a>
  </div>
</section>

{% endif %}