{% set solutionsSubPage = data.contents | findContent('solutions-sub-page','result') %}
{% if solutionsSubPage and solutionsSubPage.length != "" and solutionsSubPage != "false" %}

<section class="solutions -animation" lazy="-done" lazy-element>
  
  <div class="solutions__container">
    {% for item in solutionsSubPage %}
    {% set item = item[0] %}

    {% set solutionImage = item.contents | findContent('solution-image') %}
    {% set solutionText = item.contents | findContent('solution-text') %}

    {% if loop.index < 4 %}
      <div class="solutions__item">
        <div class="solutions__image">
          <img lazy="{{solutionImage}}" width="380" height="360" alt="{{item.name}}">
        </div>
        <div class="solutions__wrapper">
          <div class="solutions__content">
            <h3 class="solutions__title">{{item.name}}</h3>
            <p class="solutions__text">{{solutionText}}</p>
          </div>
          <a href="{{item.path}}" class="solutions__link">
            <img lazy="/assets/svg/white-arrow-icon.svg" width="45" height="45" alt="Detail Information">
          </a>
        </div>
      </div>
    {% endif %}
    {% endfor %}
    
  </div>

  <div class="solutions-all">
    <a href="/" class="solutions-all__link button-type">{{ data.languagesTags | findTag('all-solutions-button', data.content.languageID) }}</a>
  </div>

</section>

{% endif %}