.reach-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 25px 0 25px;
    width: 100%;
    background-color: $mystic;

    @include mq(tablet-small, min) {
      flex-direction: row;
      padding: 0 25px;
    }
  }

  &__content {
    margin: 0;
    color: $tuna;
    font-family: $GeomanistLight;
    font-weight: 300;
    @include font-size(18, 18);
  }

  &__button {
    margin: 20px;
    padding: 16px 40px 13px 40px;
    width: 100%;
    color: $white;
    background: linear-gradient(90deg, #FF7249 0%, #FBB03B 97.4%);
    @include font-size(13, 13);

    @include mq(tablet-small, min) {
      margin: 20px 30px;
      width: auto;
    }

    &:hover {
      background: linear-gradient(90deg, #223962 0%, #3277BC 52.6%, #48ABDF 97.4%);
    }
  }
}
