@import '../../assets/scss/_index';

.success-stories {
  $success-stories: &;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 25px;
  width: 100%;
  background-color: $mystic;

  @include mq(desktop-small, min) {
    padding: 100px 25px 70px 25px;
  }

  @include mq(desktop-small, min) {
    padding: 100px 150px 70px 150px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(1,minmax(0,1fr));
    grid-row-gap: 25px;
    margin-bottom: 50px;
    width: 100%;
    max-width: 1150px;

    @include mq(tablet-wide, min) {
      grid-template-columns: repeat(3,minmax(0,1fr));
    }
  }

  &__card {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    margin: 0 12px;
    padding: 50px 30px 26px 30px;

    background-color: $white;
    background-image: url(../../assets/svg/quotes-icon.svg);
    background-repeat: no-repeat;
    background-size: initial;
    background-position: 5% 35%;
    
    border-width: 4px;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 4px;

    &:hover {
      padding: 46px 26px 26px 26px;
      border-width: 4px;
      border-style: solid;
      cursor: pointer;
    }

    &:first-child {
      border-image: linear-gradient(90deg, #610688 0%, #9F4896 100%) 1;

			#{$success-stories}__company {
        color: $tapestry;
			}

			&:hover {
        border-image: linear-gradient(90deg, #610688 0%, #9F4896 100%) 1;
			}
		}

		&:nth-child(2) {
      border-image: linear-gradient(90deg, #223962 0%, #3277BC 52.6%, #48ABDF 97.4%) 1;

			#{$success-stories}__company {
        color: $picton-blue;
			}

			&:hover {
        border-image: linear-gradient(90deg, #223962 0%, #3277BC 52.6%, #48ABDF 97.4%) 1;
      }
    }

		&:last-child {
      border-image: linear-gradient(90deg, #FF7249 0%, #FBB03B 97.4%) 1;

			#{$success-stories}__company {
        color: $yellow-orange;
			}

			&:hover {
        border-image: linear-gradient(90deg, #FF7249 0%, #FBB03B 97.4%) 1;
			}
		}
  }

  &__company {
    margin: 0;
    text-transform: uppercase;
    font-family: $GeomanistRegular;
    font-weight: 400;
    @include font-size(15, 30);
  }

  &__headline {
    margin: 0;
    color: $tuna;
    font-family: $GeomanistMedium;
    font-weight: 500;
    @include font-size(22, 30);
  }

  &__text {
    margin: 20px 0 30px 0;

    @include mq(tablet-wide, min) {
      margin: 25px 0 45px 0;
    }
    p {
      color: $mid-gray;
      font-family: $GeomanistLight;
      font-weight: 300;
      @include font-size(18, 24);
    }
  }

  &__bottom-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    padding: 15px 0;
    width: 100%;
    border-top: 1px solid $porcelain;
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: $mystic;
    overflow: hidden;

    img {
      &.-padding {
        padding: 10px;
      }
    }

  }

  &__author-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__author-name {
    margin: 0;
    color: $tuna;
    font-family: $GeomanistMedium;
    font-weight: 500;
    @include font-size(17, 30);
  }

  &__author-title {
    margin: 0;
    color: $mid-gray;
    font-family: $GeomanistRegular;
    font-weight: 400;
    @include font-size(15, 30);
  }
}