{% set numbersSubPage = data.contents | findContent('numbers-sub-page','result') %}
{% if numbersSubPage and numbersSubPage.length != "" and numbersSubPage != "false" %}
{% set numbersText = data.languagesTags | findTag('numbers-text', data.content.languageID) %}

{% for item in numbersSubPage %}
{% set item = item[0] %}
{% if item.name == numbersText %}
  <section class="numbers -animation" lazy="-done" lazy-element numbers>
    <div class="numbers__container">

      {% set countryText = data.languagesTags | findTag('country-text', data.content.languageID) %}
      {% set projectText = data.languagesTags | findTag('project-text', data.content.languageID) %}
      {% set experienceText = data.languagesTags | findTag('experience-text', data.content.languageID) %}
      {% set specialistText = data.languagesTags | findTag('specialist-text', data.content.languageID) %}

      {% set country = item.contents | findContent('country') %}
      {% set project = item.contents | findContent('project') %}
      {% set experience = item.contents | findContent('experience') %}
      {% set specialist = item.contents | findContent('specialist') %}

      {% if country and country.length != "" and country != "false" %}
      <div class="numbers__item">
        <span class="numbers__val" numbers-val="{{country}}">0</span>
        <h3 class="numbers__key">{{countryText}}</h3>
      </div>
      {% endif %}
      {% if project and project.length != "" and project != "false" %}
      <div class="numbers__item">
        <span class="numbers__val" numbers-val="{{project}}">0</span>
        <h3 class="numbers__key">{{projectText}}</h3>
      </div>
      {% endif %}
      {% if experience and experience.length != "" and experience != "false" %}
      <div class="numbers__item">
        <span class="numbers__val" numbers-val="{{experience}}">0</span>
        <h3 class="numbers__key">{{experienceText}}</h3>
      </div>
      {% endif %}
      {% if specialist and specialist.length != "" and specialist != "false" %}
      <div class="numbers__item">
        <span class="numbers__val" numbers-val="{{specialist}}">0</span>
        <h3 class="numbers__key">{{specialistText}}</h3>
      </div>
      {% endif %}
    </div>
  </section>
{% endif %}
{% endfor %}
{% endif %}