@import '../../assets/scss/_index';

.main-slider {
	position: relative;
	height: calc(100vh - 172px);
	background-color: $havelock-blue;

	@include mq(tablet-wide, min) {
		height: calc(100vh - 210px);
	}

	@include mq(desktop-small, min) {
		height: calc(100vh - 260px);
	}

	.slider {
		width: 100%;
		height: 100%;

		&__item {
			position: relative;
			display: flex;
			flex-direction: column-reverse;
			justify-content: flex-start;
			align-items: center;
			padding: 40px 25px 0 25px;

			@include mq(tablet-wide, min) {
				flex-direction: row;
			}

			@include mq(desktop-small, min) {
				padding: 40px 40px 0 40px;
			}

			&.-gradient-bgc {
				background: linear-gradient(90deg, #223962 0%, #48ABDF 65.62%, #80D3FF 100%);
			}
		
		}

		&__bg {
			opacity: .5;
			z-index: 0;
			position: absolute;
			top: 25px;
			width: 100%;
			height: 74%;

			background-repeat: no-repeat;
			background-size: contain;
			background-position: center center;

			@include mq(tablet-small, min) {
				opacity: 1;
				width: 100%;
				height: 64%;
				background-size: contain;
				background-position: center top;
			}
			
			@include mq(tablet-wide, min) {
				top: 42px;
				height: 94%;
				background-position: right center;
			}
			
			@include mq(desktop-small, min) {
				background-position: 94% center;
			}
		}

		&__content {
			z-index: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			margin: 35px 25px;
			width: 100%;

			@include mq(tablet-small, min) {
				margin-bottom: 50px;
			}

			@include mq(tablet-wide, min) {
				justify-content: flex-start;
				align-items: flex-start;
				margin: 0 80px;
				max-width: 500px;
			}

			@include mq(desktop-small, min) {
				margin-left: 120px;
			}
		}

		&__title {
			margin-bottom: 10px;
			color: $white;
			text-align: center;
			font-family: $GeomanistLight;
			font-weight: 300;
			@include font-size(48, 58);			

			@include mq(tablet-small, min) {
				text-align: left;
				@include font-size(56, 66);
			}

			@include mq(tablet-wide, min) {
				@include font-size(60, 70);		
			}
		}

		&__text {
			color: $white;
			text-align: center;
			font-family: $GeomanistExtraLight;
			font-weight: 300;
			@include font-size(20, 30);

			@include mq(tablet-wide, min) {
				text-align: left;
				@include font-size(22, 32);	
			}
		}

		&__button {
			margin-top: 10px;
			padding: 20px 50px 15px 50px;
			background-color: $white;
			color: $cello;
			@include font-size(15, 15);

			@include mq(tablet-small, min) {
				margin-top: 20px;
				padding: 25px 50px 20px 50px;
			}

			@include mq(desktop-small, min) {
				margin-top: 40px;
			}

			&:hover {
				color: $white;
				background: linear-gradient(90deg, #FF7249 0%, #FBB03B 97.4%);
			}
		}
	}

	.swiper {
		&-button {
			display: none;

			margin: 0 10px;
			width: 32px;
			height: 32px;
			color: $white;
			
			&::after {
				@include font-size(32, 32)
			}

			@include mq(tablet-wide, min) {
				display: block;
			}

			@include mq(desktop-small, min) {
				margin: 0 50px;
			}
		}

		&-pagination {
			&-bullet{
				opacity: 1;
				margin: -1px !important;
				width: 16px;
				height: 16px;

				background-color: $azure;
				border: 2px solid #FFFFFF;

				&-active{
					background-color: $white;
				}
			}
		}
	}

}
