{% extends "templates/_base-template.html" %}

{% block cdncss %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.3.2/swiper-bundle.min.css" media="print" onload="this.onload=null;this.removeAttribute('media');">
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="/assets/css/home.css?{{'' | date('unixTime')}}">
{% endblock %}

{% block main %}
	{% include "pages/home/_main-slider.html" %}
	{% include "shared/components/_reach-us.html" %}
	{% include "pages/home/_sectors.html" %}
	{% include "pages/home/_solutions.html" %}
	{% include "pages/home/_numbers.html" %}
	{% include "pages/home/_partners-slider.html" %}
	{% include "shared/components/_technology-background.html" %}
	{% include "shared/components/_customers-slider.html" %}
	{% include "shared/components/_success-stories.html" %}
{% endblock %}

{% block sticky %}

{% endblock %}

{% block cdnscript %}
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.3.2/swiper-bundle.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block script %}
	<script src="/assets/script/home.js?{{'' | date('unixTime')}}"></script>
{% endblock %}

