{% extends "templates/_base-template.html" %}

{% block cdncss %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.3.2/swiper-bundle.min.css">
{% endblock %}

{% block css %}

{% endblock %}

{% block main %}
	{% include "pages/home/_init.html" %}
{% endblock %}

{% block sticky %}

{% endblock %}

{% block cdnscript %}
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.3.2/swiper-bundle.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block script %}

{% endblock %}

