@font-face {
  font-family: "GeomanistThin";
  font-style: normal;
  font-weight: 100;
  src: url("/assets/font/Geomanist-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistExtraLight";
  font-style: normal;
  font-weight: 200;
  src: url("/assets/font/Geomanist-ExtraLight.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistLight";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/font/Geomanist-Light.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistRegular";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/font/Geomanist-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistMedium";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/font/Geomanist-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistBook";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/font/Geomanist-Book.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistBold";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/font/Geomanist-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistBlack";
  font-style: normal;
  font-weight: 800;
  src: url("/assets/font/Geomanist-Black.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistUltra";
  font-style: normal;
  font-weight: 900;
  src: url("/assets/font/Geomanist-Ultra.woff2") format("woff2");
}
.advertisement {
  z-index: 2;
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: none;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  width: 100%;
  max-width: 425px;
  min-height: 120px;
  border-radius: 2px;
  background-color: #fff;
  transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55), left 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.advertisement__image {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 20px 0 0;
  width: 100px;
}
.advertisement__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.advertisement__content p {
  margin: 0;
  color: #3B3C3F;
  font-family: "GeomanistMedium";
  font-weight: 500;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 28px;
  line-height: 1.75rem;
}
.advertisement__content p:first-child {
  margin-bottom: 5px;
}
.advertisement__content p a {
  color: #48ABDF;
  text-decoration: underline;
  font-family: "GeomanistBold";
  font-weight: 700;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 13px;
  line-height: 0.8125rem;
}
.advertisement__close {
  z-index: 1;
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px;
  cursor: pointer;
}
.advertisement.-hide {
  transform: translateX(-100%);
  left: 0;
}

.reach-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.reach-us__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px 25px 0 25px;
  width: 100%;
  background-color: #EBF1F3;
}
.reach-us__content {
  margin: 0;
  color: #3B3C3F;
  font-family: "GeomanistLight";
  font-weight: 300;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 18px;
  line-height: 1.125rem;
}
.reach-us__button {
  margin: 20px;
  padding: 16px 40px 13px 40px;
  width: 100%;
  color: #fff;
  background: linear-gradient(90deg, #FF7249 0%, #FBB03B 97.4%);
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 13px;
  line-height: 0.8125rem;
}
.reach-us__button:hover {
  background: linear-gradient(90deg, #223962 0%, #3277BC 52.6%, #48ABDF 97.4%);
}

.technology-background {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.technology-background__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 25px;
  width: 100%;
  height: 225px;
  background-color: #EBF1F3;
}
.technology-background__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
  width: 100%;
  height: 120px;
  background: linear-gradient(90deg, #223962 0%, #3277BC 52.6%, #48ABDF 97.4%);
}
.technology-background__image {
  position: relative;
  bottom: 50px;
}
.technology-background__title {
  width: 100%;
  color: #223963;
  text-align: center;
  font-family: "GeomanistLight";
  font-weight: 300;
  font-size: 50px;
  font-size: 3.125rem;
  line-height: 60px;
  line-height: 3.75rem;
}
.technology-background__title span {
  color: #3277BC;
  font-family: "GeomanistBold";
  font-weight: 700;
}

@font-face {
  font-family: "GeomanistThin";
  font-style: normal;
  font-weight: 100;
  src: url("/assets/font/Geomanist-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistExtraLight";
  font-style: normal;
  font-weight: 200;
  src: url("/assets/font/Geomanist-ExtraLight.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistLight";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/font/Geomanist-Light.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistRegular";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/font/Geomanist-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistMedium";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/font/Geomanist-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistBook";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/font/Geomanist-Book.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistBold";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/font/Geomanist-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistBlack";
  font-style: normal;
  font-weight: 800;
  src: url("/assets/font/Geomanist-Black.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistUltra";
  font-style: normal;
  font-weight: 900;
  src: url("/assets/font/Geomanist-Ultra.woff2") format("woff2");
}
.customers-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 25px 40px 25px;
  height: 250px;
  width: 100%;
  background-color: #fff;
}
.customers-slider__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.customers-slider .swiper {
  padding: 0 35px;
  margin: 0;
  width: 100%;
  height: 100%;
}
.customers-slider .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.customers-slider .swiper-button {
  margin: 0;
  width: 20px;
  height: 20px;
  color: #3277BC;
}
.customers-slider .swiper-button::after {
  margin-bottom: 20px;
  font-size: 32px;
  font-size: 2rem;
  line-height: 32px;
  line-height: 2rem;
}

@font-face {
  font-family: "GeomanistThin";
  font-style: normal;
  font-weight: 100;
  src: url("/assets/font/Geomanist-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistExtraLight";
  font-style: normal;
  font-weight: 200;
  src: url("/assets/font/Geomanist-ExtraLight.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistLight";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/font/Geomanist-Light.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistRegular";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/font/Geomanist-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistMedium";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/font/Geomanist-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistBook";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/font/Geomanist-Book.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistBold";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/font/Geomanist-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistBlack";
  font-style: normal;
  font-weight: 800;
  src: url("/assets/font/Geomanist-Black.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistUltra";
  font-style: normal;
  font-weight: 900;
  src: url("/assets/font/Geomanist-Ultra.woff2") format("woff2");
}
.success-stories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 25px;
  width: 100%;
  background-color: #EBF1F3;
}
.success-stories__container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-row-gap: 25px;
  margin-bottom: 50px;
  width: 100%;
  max-width: 1150px;
}
.success-stories__card {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 12px;
  padding: 50px 30px 26px 30px;
  background-color: #fff;
  background-image: url(../../assets/svg/quotes-icon.svg);
  background-repeat: no-repeat;
  background-size: initial;
  background-position: 5% 35%;
  border-width: 4px;
  border-style: solid;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 4px;
}
.success-stories__card:hover {
  padding: 46px 26px 26px 26px;
  border-width: 4px;
  border-style: solid;
  cursor: pointer;
}
.success-stories__card:first-child {
  border-image: linear-gradient(90deg, #610688 0%, #9F4896 100%) 1;
}
.success-stories__card:first-child .success-stories__company {
  color: #9F4896;
}
.success-stories__card:first-child:hover {
  border-image: linear-gradient(90deg, #610688 0%, #9F4896 100%) 1;
}
.success-stories__card:nth-child(2) {
  border-image: linear-gradient(90deg, #223962 0%, #3277BC 52.6%, #48ABDF 97.4%) 1;
}
.success-stories__card:nth-child(2) .success-stories__company {
  color: #48ABDF;
}
.success-stories__card:nth-child(2):hover {
  border-image: linear-gradient(90deg, #223962 0%, #3277BC 52.6%, #48ABDF 97.4%) 1;
}
.success-stories__card:last-child {
  border-image: linear-gradient(90deg, #FF7249 0%, #FBB03B 97.4%) 1;
}
.success-stories__card:last-child .success-stories__company {
  color: #FBB03B;
}
.success-stories__card:last-child:hover {
  border-image: linear-gradient(90deg, #FF7249 0%, #FBB03B 97.4%) 1;
}
.success-stories__company {
  margin: 0;
  text-transform: uppercase;
  font-family: "GeomanistRegular";
  font-weight: 400;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 30px;
  line-height: 1.875rem;
}
.success-stories__headline {
  margin: 0;
  color: #3B3C3F;
  font-family: "GeomanistMedium";
  font-weight: 500;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 30px;
  line-height: 1.875rem;
}
.success-stories__text {
  margin: 20px 0 30px 0;
}
.success-stories__text p {
  color: #636364;
  font-family: "GeomanistLight";
  font-weight: 300;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 24px;
  line-height: 1.5rem;
}
.success-stories__bottom-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 0;
  width: 100%;
  border-top: 1px solid #F2F5F6;
}
.success-stories__image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #EBF1F3;
  overflow: hidden;
}
.success-stories__image img.-padding {
  padding: 10px;
}
.success-stories__author-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.success-stories__author-name {
  margin: 0;
  color: #3B3C3F;
  font-family: "GeomanistMedium";
  font-weight: 500;
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 30px;
  line-height: 1.875rem;
}
.success-stories__author-title {
  margin: 0;
  color: #636364;
  font-family: "GeomanistRegular";
  font-weight: 400;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 30px;
  line-height: 1.875rem;
}
@media only screen and (min-width: 400px) {
  .technology-background__bottom {
    height: 130px;
  }
}
@media only screen and (min-width: 480px) {
  .technology-background__top {
    height: 250px;
  }
  .technology-background__image {
    bottom: 70px;
  }
}
@media only screen and (min-width: 640px) {
  .reach-us__container {
    flex-direction: row;
    padding: 0 25px;
  }
  .reach-us__button {
    margin: 20px 30px;
    width: auto;
  }
  .technology-background__top {
    height: 310px;
  }
  .technology-background__bottom {
    height: 150px;
  }
  .technology-background__image {
    bottom: 125px;
  }
}
@media only screen and (min-width: 1024px) {
  .advertisement {
    display: flex;
  }
  .technology-background__top {
    align-items: flex-start;
    justify-content: center;
  }
  .technology-background__bottom {
    justify-content: flex-end;
  }
  .technology-background__title {
    max-width: 300px;
    text-align: left;
    font-size: 60px;
    font-size: 3.75rem;
    line-height: 70px;
    line-height: 4.375rem;
  }
  .success-stories__container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .success-stories__text {
    margin: 25px 0 45px 0;
  }
}
@media only screen and (min-width: 1248px) {
  .technology-background__top {
    padding: 0 0 0 130px;
  }
  .technology-background__image {
    right: 100px;
    bottom: 150px;
  }
  .customers-slider {
    padding: 70px;
    height: 375px;
  }
  .customers-slider .swiper {
    margin-bottom: 40px;
  }
  .success-stories {
    padding: 100px 25px 70px 25px;
  }
  .success-stories {
    padding: 100px 150px 70px 150px;
  }
}
@media only screen and (min-width: 1600px) {
  .technology-background__top {
    padding-left: 180px;
  }
  .technology-background__image {
    right: 140px;
  }
}
@font-face {
  font-family: "GeomanistThin";
  font-style: normal;
  font-weight: 100;
  src: url("/assets/font/Geomanist-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistExtraLight";
  font-style: normal;
  font-weight: 200;
  src: url("/assets/font/Geomanist-ExtraLight.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistLight";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/font/Geomanist-Light.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistRegular";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/font/Geomanist-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistMedium";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/font/Geomanist-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistBook";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/font/Geomanist-Book.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistBold";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/font/Geomanist-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistBlack";
  font-style: normal;
  font-weight: 800;
  src: url("/assets/font/Geomanist-Black.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistUltra";
  font-style: normal;
  font-weight: 900;
  src: url("/assets/font/Geomanist-Ultra.woff2") format("woff2");
}
.main-slider {
  position: relative;
  height: calc(100vh - 172px);
  background-color: #5FA5D9;
}
.main-slider .slider {
  width: 100%;
  height: 100%;
}
.main-slider .slider__item {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 25px 0 25px;
}
.main-slider .slider__item.-gradient-bgc {
  background: linear-gradient(90deg, #223962 0%, #48ABDF 65.62%, #80D3FF 100%);
}
.main-slider .slider__bg {
  opacity: 0.5;
  z-index: 0;
  position: absolute;
  top: 25px;
  width: 100%;
  height: 74%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.main-slider .slider__content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 35px 25px;
  width: 100%;
}
.main-slider .slider__title {
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
  font-family: "GeomanistLight";
  font-weight: 300;
  font-size: 48px;
  font-size: 3rem;
  line-height: 58px;
  line-height: 3.625rem;
}
.main-slider .slider__text {
  color: #fff;
  text-align: center;
  font-family: "GeomanistExtraLight";
  font-weight: 300;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 30px;
  line-height: 1.875rem;
}
.main-slider .slider__button {
  margin-top: 10px;
  padding: 20px 50px 15px 50px;
  width: 100%;
  background-color: #fff;
  color: #223963;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 15px;
  line-height: 0.9375rem;
}
.main-slider .slider__button:hover {
  color: #fff;
  background: linear-gradient(90deg, #FF7249 0%, #FBB03B 97.4%);
}
.main-slider .swiper-button {
  display: none;
  margin: 0 10px;
  width: 32px;
  height: 32px;
  color: #fff;
}
.main-slider .swiper-button::after {
  font-size: 32px;
  font-size: 2rem;
  line-height: 32px;
  line-height: 2rem;
}
.main-slider .swiper-pagination-bullet {
  opacity: 1;
  margin: -1px !important;
  width: 16px;
  height: 16px;
  background-color: #2F6BAB;
  border: 2px solid #FFFFFF;
}
.main-slider .swiper-pagination-bullet-active {
  background-color: #fff;
}
@media only screen and (min-width: 640px) {
  .main-slider .slider__bg {
    opacity: 1;
    width: 100%;
    height: 64%;
    background-size: contain;
    background-position: center top;
  }
  .main-slider .slider__content {
    margin-bottom: 50px;
  }
  .main-slider .slider__title {
    text-align: left;
    font-size: 56px;
    font-size: 3.5rem;
    line-height: 66px;
    line-height: 4.125rem;
  }
  .main-slider .slider__button {
    margin-top: 20px;
    padding: 25px 50px 20px 50px;
    width: auto;
  }
}
@media only screen and (min-width: 1024px) {
  .main-slider {
    height: calc(100vh - 210px);
  }
  .main-slider .slider__item {
    flex-direction: row;
  }
  .main-slider .slider__bg {
    top: 42px;
    height: 94%;
    background-position: right center;
  }
  .main-slider .slider__content {
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 80px;
    max-width: 500px;
  }
  .main-slider .slider__title {
    font-size: 60px;
    font-size: 3.75rem;
    line-height: 70px;
    line-height: 4.375rem;
  }
  .main-slider .slider__text {
    text-align: left;
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 32px;
    line-height: 2rem;
  }
  .main-slider .swiper-button {
    display: block;
  }
}
@media only screen and (min-width: 1248px) {
  .main-slider {
    height: calc(100vh - 260px);
  }
  .main-slider .slider__item {
    padding: 40px 40px 0 40px;
  }
  .main-slider .slider__bg {
    background-position: 94% center;
  }
  .main-slider .slider__content {
    margin-left: 120px;
  }
  .main-slider .slider__button {
    margin-top: 40px;
  }
  .main-slider .swiper-button {
    margin: 0 50px;
  }
}
@font-face {
  font-family: "GeomanistThin";
  font-style: normal;
  font-weight: 100;
  src: url("/assets/font/Geomanist-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistExtraLight";
  font-style: normal;
  font-weight: 200;
  src: url("/assets/font/Geomanist-ExtraLight.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistLight";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/font/Geomanist-Light.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistRegular";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/font/Geomanist-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistMedium";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/font/Geomanist-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistBook";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/font/Geomanist-Book.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistBold";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/font/Geomanist-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistBlack";
  font-style: normal;
  font-weight: 800;
  src: url("/assets/font/Geomanist-Black.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistUltra";
  font-style: normal;
  font-weight: 900;
  src: url("/assets/font/Geomanist-Ultra.woff2") format("woff2");
}
.numbers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 50px 25px;
  width: 100%;
  background: linear-gradient(90deg, #223962 0%, #3277BC 52.6%, #48ABDF 97.4%);
}
.numbers__container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  width: 100%;
  max-width: 1200px;
}
.numbers__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.numbers__val {
  margin-bottom: 5px;
  color: #fff;
  font-family: "GeomanistBold";
  font-weight: 700;
  font-size: 80px;
  font-size: 5rem;
  line-height: 80px;
  line-height: 5rem;
  white-space: nowrap;
}
.numbers__key {
  margin: 0;
  color: #FBB03B;
  font-family: "GeomanistBold";
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 18px;
  line-height: 1.125rem;
  white-space: nowrap;
}
@media only screen and (min-width: 640px) {
  .numbers {
    padding: 100px 25px 70px 25px;
  }
  .numbers__container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media only screen and (min-width: 1024px) {
  .numbers {
    padding: 50px;
  }
  .numbers__container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media only screen and (min-width: 1248px) {
  .numbers {
    padding: 100px 150px 70px 150px;
  }
  .numbers__val {
    font-size: 90px;
    font-size: 5.625rem;
    line-height: 90px;
    line-height: 5.625rem;
  }
  .numbers__key {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 20px;
    line-height: 1.25rem;
  }
}
@media only screen and (min-width: 1400px) {
  .numbers {
    padding: 100px 220px 70px 220px;
  }
}
@font-face {
  font-family: "GeomanistThin";
  font-style: normal;
  font-weight: 100;
  src: url("/assets/font/Geomanist-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistExtraLight";
  font-style: normal;
  font-weight: 200;
  src: url("/assets/font/Geomanist-ExtraLight.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistLight";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/font/Geomanist-Light.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistRegular";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/font/Geomanist-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistMedium";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/font/Geomanist-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistBook";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/font/Geomanist-Book.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistBold";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/font/Geomanist-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistBlack";
  font-style: normal;
  font-weight: 800;
  src: url("/assets/font/Geomanist-Black.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistUltra";
  font-style: normal;
  font-weight: 900;
  src: url("/assets/font/Geomanist-Ultra.woff2") format("woff2");
}
.partners-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 25px 40px 25px;
  height: 250px;
  width: 100%;
  background-color: #fff;
}
.partners-slider__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.partners-slider .swiper {
  padding: 0 35px;
  margin: 0;
  width: 100%;
  height: 100%;
}
.partners-slider .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.partners-slider .swiper-button {
  margin: 0;
  width: 20px;
  height: 20px;
  color: #3277BC;
}
.partners-slider .swiper-button::after {
  margin-bottom: 20px;
  font-size: 32px;
  font-size: 2rem;
  line-height: 32px;
  line-height: 2rem;
}
@media only screen and (min-width: 1248px) {
  .partners-slider {
    padding: 70px 60px;
    height: 350px;
  }
  .partners-slider .swiper {
    margin-bottom: 20px;
  }
}
@font-face {
  font-family: "GeomanistThin";
  font-style: normal;
  font-weight: 100;
  src: url("/assets/font/Geomanist-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistExtraLight";
  font-style: normal;
  font-weight: 200;
  src: url("/assets/font/Geomanist-ExtraLight.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistLight";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/font/Geomanist-Light.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistRegular";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/font/Geomanist-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistMedium";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/font/Geomanist-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistBook";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/font/Geomanist-Book.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistBold";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/font/Geomanist-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistBlack";
  font-style: normal;
  font-weight: 800;
  src: url("/assets/font/Geomanist-Black.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistUltra";
  font-style: normal;
  font-weight: 900;
  src: url("/assets/font/Geomanist-Ultra.woff2") format("woff2");
}
.sectors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.sectors__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 25px;
  width: 100%;
  background-color: #fff;
}
.sectors__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0 10px 0;
  width: 100%;
  border-bottom: 1px solid #EBF1F3;
}
.sectors__icon {
  margin-bottom: 20px;
  width: 100px;
  height: 100px;
}
.sectors__title {
  margin-bottom: 10px;
  color: #3B3C3F;
  letter-spacing: 0.3px;
  font-family: "GeomanistBold";
  font-weight: 700;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 26px;
  line-height: 1.625rem;
}
.sectors__text {
  margin-bottom: 20px;
  color: #636364;
  font-family: "GeomanistLight";
  font-weight: 300;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 26px;
  line-height: 1.625rem;
  text-align: center;
}
.sectors__detail-link {
  margin-left: 36px;
  padding: 10px 0;
  cursor: pointer;
}
.sectors__detail-link span {
  opacity: 1;
  margin-right: 10px;
  text-transform: uppercase;
  text-decoration: underline;
  color: #48ABDF;
  font-family: "GeomanistBold";
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height: 16px;
  line-height: 1rem;
}
.sectors-all__link {
  margin: 0 0 30px 0;
}
@media only screen and (min-width: 1024px) {
  .sectors__container {
    flex-direction: row;
  }
  .sectors__item {
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 350px;
    padding: 40px 50px 10px 50px;
    border-bottom: none;
  }
  .sectors__item:first-child {
    border-right: 1px solid #EBF1F3;
  }
  .sectors__item:last-child {
    border-left: 1px solid #EBF1F3;
  }
  .sectors__icon {
    margin-bottom: 50px;
  }
  .sectors__text {
    margin-bottom: 40px;
    text-align: left;
  }
  .sectors__detail-link span {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
    cursor: pointer;
    transition: 0.2s all ease-in;
  }
  .sectors__detail-link img {
    transform: translate3d(-110px, 0, 0);
    cursor: pointer;
    transition: 0.2s all ease-in-out;
  }
  .sectors__detail-link {
    margin-left: 0;
  }
  .sectors__detail-link:hover span {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  .sectors__detail-link:hover img {
    transform: translate3d(0, 0, 0);
  }
  .sectors-all__link {
    margin-right: 60px;
  }
}
@media only screen and (min-width: 1248px) {
  .sectors__container {
    padding: 60px;
  }
}
@font-face {
  font-family: "GeomanistThin";
  font-style: normal;
  font-weight: 100;
  src: url("/assets/font/Geomanist-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistExtraLight";
  font-style: normal;
  font-weight: 200;
  src: url("/assets/font/Geomanist-ExtraLight.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistLight";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/font/Geomanist-Light.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistRegular";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/font/Geomanist-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistMedium";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/font/Geomanist-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistBook";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/font/Geomanist-Book.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistBold";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/font/Geomanist-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistBlack";
  font-style: normal;
  font-weight: 800;
  src: url("/assets/font/Geomanist-Black.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistUltra";
  font-style: normal;
  font-weight: 900;
  src: url("/assets/font/Geomanist-Ultra.woff2") format("woff2");
}
.solutions {
  width: 100%;
}
.solutions__container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;
}
.solutions__item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
}
.solutions__item:first-child .solutions__wrapper {
  background: linear-gradient(90deg, #610688 0%, #9F4896 100%);
}
.solutions__item:first-child:hover {
  cursor: pointer;
}
.solutions__item:first-child:hover .solutions__image {
  filter: brightness(50%);
}
.solutions__item:nth-child(2) .solutions__wrapper {
  background: linear-gradient(90deg, #223962 0%, #3277BC 52.6%, #48ABDF 97.4%);
}
.solutions__item:nth-child(2):hover {
  cursor: pointer;
}
.solutions__item:nth-child(2):hover .solutions__image {
  filter: brightness(50%);
}
.solutions__item:last-child .solutions__wrapper {
  background: linear-gradient(90deg, #FF7249 0%, #FBB03B 97.4%);
}
.solutions__item:last-child:hover {
  cursor: pointer;
}
.solutions__item:last-child:hover .solutions__image {
  filter: brightness(50%);
}
.solutions__image {
  width: 100%;
}
.solutions__image img {
  display: block;
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}
.solutions__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 40px 30px;
  width: 100%;
  height: 100%;
}
.solutions__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 15px;
  width: 100%;
}
.solutions__title {
  margin-bottom: 10px;
  color: #fff;
  letter-spacing: 0.3px;
  font-family: "GeomanistBook";
  font-weight: 600;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 18px;
  line-height: 1.125rem;
}
.solutions__text {
  color: #fff;
  font-family: "GeomanistLight";
  font-weight: 300;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 26px;
  line-height: 1.625rem;
}
.solutions__link img {
  width: 45px;
  height: 45px;
}
.solutions-all {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
  width: 100%;
  height: 90px;
  background-color: #EBF1F3;
}
.solutions-all__link {
  position: relative;
  padding: 25px 44px 20px 43px;
  width: 100%;
  background-color: #fff;
  color: #223963;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-family: "GeomanistBold";
  font-weight: 700;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 15px;
  line-height: 0.9375rem;
}
.solutions-all__link:hover {
  color: #48ABDF;
}
@media only screen and (min-width: 640px) {
  .solutions-all__link {
    width: auto;
  }
}
@media only screen and (min-width: 1024px) {
  .solutions__container {
    flex-direction: row;
  }
  .solutions__item {
    width: 33.3333333333%;
  }
  .solutions__image img {
    max-height: 400px;
  }
  .solutions__wrapper {
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 200px;
  }
  .solutions__link img {
    margin-top: 30px;
  }
  .solutions-all__link {
    top: -45px;
  }
}
@media only screen and (min-width: 1248px) {
  .solutions__wrapper {
    padding: 60px 45px;
  }
  .solutions__title {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 20px;
    line-height: 1.25rem;
  }
  .solutions__text {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 26px;
    line-height: 1.625rem;
  }
  .solutions__link img {
    width: 50px;
    height: 50px;
  }
}