@font-face {
  font-family: "GeomanistThin";
  font-style: normal;
  font-weight: 100;
  src: url("/assets/font/Geomanist-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistExtraLight";
  font-style: normal;
  font-weight: 200;
  src: url("/assets/font/Geomanist-ExtraLight.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistLight";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/font/Geomanist-Light.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistRegular";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/font/Geomanist-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistMedium";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/font/Geomanist-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistBook";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/font/Geomanist-Book.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistBold";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/font/Geomanist-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistBlack";
  font-style: normal;
  font-weight: 800;
  src: url("/assets/font/Geomanist-Black.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistUltra";
  font-style: normal;
  font-weight: 900;
  src: url("/assets/font/Geomanist-Ultra.woff2") format("woff2");
}
.header {
  z-index: 3;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: block;
  width: 100%;
  max-height: 120px;
}
.header-top {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #E7EBED;
}
.header-top__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 1440px;
  padding: 8px 25px 7px 0;
}
.header-top__nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.header-top__nav-item {
  margin: 0 0 0 10px;
}
.header-top__nav-link {
  padding: 5px;
  color: #636364;
  font-family: "GeomanistRegular";
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 25px;
  line-height: 1.5625rem;
}
.header-top__nav-link.-language {
  margin-right: 10px;
  color: #2F6BAB;
  font-family: "GeomanistBook";
  font-weight: 600;
}
.header-top__nav-link.-language:hover {
  color: #223963;
}
.header-top__nav-link:hover {
  color: #3B3C3F;
}
.header-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #E7EBED;
}
.header-bottom__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
  padding: 18px 25px;
}
.header-bottom__logo-link img {
  display: block;
  width: 145px;
  height: auto;
}
.header-bottom__nav {
  display: none;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.header-bottom__nav-item {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  margin: 0 0 0 20px;
}
.header-bottom__nav-item:hover .header-bottom__link:after {
  opacity: 1;
}
.header-bottom__nav-link {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  font-family: "GeomanistMedium";
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #3B3C3F;
}
.header-bottom__nav-link::after {
  content: "";
  opacity: 0;
  z-index: 4;
  position: absolute;
  left: 50%;
  bottom: -3px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  width: 73px;
  height: 4px;
  border: 0;
  background-color: #48ABDF;
  transform: translateX(-50%);
  transition: opacity 0.2s ease-out;
}
.header__hamburger {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 100%;
  transition: background-color 0.3s;
  cursor: pointer;
}
.header__hamburger-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 5px;
  width: 30px;
  height: 18px;
}
.header__hamburger .line {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 30px;
  height: 0;
  border-bottom: 2px solid #2F6BAB;
  transition: border-color 0.3s;
}
.header__hamburger .line.-top {
  top: 0;
  transform: translate(0, 0) rotate(0);
  transition: transform 0.3s;
}
.header__hamburger .line.-center {
  top: 8px;
  transition: opacity 0.3s, transform 0.3s;
}
.header__hamburger .line.-bottom {
  top: 16px;
  transform: translate(0, 0) rotate(0);
  transition: transform 0.3s;
}
.header__hamburger.-on {
  background-color: #1C8CB7;
}
.header__hamburger.-on .line {
  border-color: #fff;
}
.header__hamburger.-on .line.-top {
  transform: translate(0, 4px) rotate(44deg);
}
.header__hamburger.-on .line.-center {
  opacity: 0;
  transform: translateX(-10px);
}
.header__hamburger.-on .line.-bottom {
  transform: translate(0, -6px) rotate(-44deg);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
  width: 100%;
  background-color: #2F3031;
}
.footer-top {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 70px 0 30px 0;
  width: 100%;
  max-width: 1128px;
}
.footer-top__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-top__social-title {
  margin: 40px 0 10px 0;
  color: #fff;
  font-family: "GeomanistLight";
  font-weight: 300;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 30px;
  line-height: 1.875rem;
}
.footer-top__social-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-top__social-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 7px 0 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #48494A;
  transition: background-color 0.3s;
}
.footer-top__social-item:hover {
  background-color: #696C6D;
}
.footer-top__nav-container {
  margin-left: 100px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 60px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.footer-top__nav-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-top__nav-item:nth-child(1) {
  grid-area: 1/1;
}
.footer-top__nav-item:nth-child(2) {
  grid-area: 4/1;
}
.footer-top__nav-item:nth-child(3) {
  grid-area: 1/2;
}
.footer-top__nav-item:nth-child(4) {
  grid-area: 2/2;
}
.footer-top__nav-item:nth-child(5) {
  grid-area: 1/3;
}
.footer-top__nav-item:nth-child(6) {
  grid-area: 2/3;
}
.footer-top__nav-item:nth-child(7) {
  grid-area: 1/4;
}
.footer-top__nav-item:nth-child(8) {
  grid-area: 6/4;
}
.footer-top__nav-title {
  margin-bottom: 10px;
  color: #fff;
  font-family: "GeomanistLight";
  font-weight: 300;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 30px;
  line-height: 1.875rem;
}
.footer-top__nav-sub-title {
  opacity: 0.8;
  color: #979798;
  font-family: "GeomanistLight";
  font-weight: 300;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 24px;
  line-height: 1.5rem;
}
.footer-top__nav-sub-title:hover {
  opacity: 1;
}
.footer-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  width: 100%;
  max-width: 1128px;
  border-top: 1px solid #59595A;
}
.footer-bottom__copyright {
  color: #979798;
  font-family: "GeomanistLight";
  font-weight: 300;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 24px;
  line-height: 1.5rem;
}
.footer-bottom__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer-bottom__link {
  opacity: 0.8;
  color: #979798;
  font-family: "GeomanistLight";
  font-weight: 300;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 24px;
  line-height: 1.5rem;
}
.footer-bottom__link:hover {
  opacity: 1;
}
.footer-bottom__line {
  margin: 0 20px;
  padding-bottom: 5px;
  color: #979798;
  cursor: default;
}
.footer-bottom__gricreative {
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-bottom__gricreative:hover {
  opacity: 0.8;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  outline: none;
}

a {
  font-family: "GeomanistRegular";
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  color: #fff;
  font-family: "GeomanistRegular";
  font-size: 26px;
  font-size: 1.625rem;
  line-height: 30px;
  line-height: 1.875rem;
  font-weight: 700;
  font-style: normal;
}

h2 {
  color: #0A1F8F;
  font-family: "GeomanistRegular";
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 30px;
  line-height: 1.875rem;
  font-weight: 700;
  font-style: normal;
}

h3 {
  margin: 30px 0 6px 0;
  color: #0A1F8F;
  font-family: "GeomanistRegular";
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: 700;
  font-style: normal;
}
h3:first-child {
  margin-top: 0;
}

p {
  margin: 0 0 10px 0;
  color: #383E41;
  font-family: "GeomanistRegular";
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: 400;
  font-style: normal;
}
p a {
  color: #383E41;
  font-weight: 500;
}
p a:hover {
  text-decoration: underline;
}

strong {
  color: #383E41;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: 600;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

ul, ol {
  margin: 0;
  padding: 0;
  max-width: 100%;
  list-style: none;
}
ul li, ol li {
  margin: 0;
  padding: 0;
}

ul:not(.breadcrumb) {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 0 15px 0;
}
ul:not(.breadcrumb) li {
  position: relative;
  padding: 0 0 0 24px;
  color: #383E41;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: 400;
  font-style: normal;
  text-align: left;
}
ul:not(.breadcrumb) li:last-child {
  margin: 0;
}
ul:not(.breadcrumb) li:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #383E41;
}

.button-type {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 4px;
  font-family: "GeomanistBold";
  font-weight: 700;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, opacity 0.5s 0.2s cubic-bezier(0.35, 0.46, 0.29, 1.07), transform 0.5s 0.2s cubic-bezier(0.35, 0.46, 0.29, 1.07) !important;
}

.back-to-top {
  z-index: 10;
  position: fixed;
  right: 35px;
  bottom: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #ECF1F3;
  background-color: #F0F6F8;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s 0s, visibility 0s 0.3s, background-color 0.3s;
  cursor: pointer;
}
.back-to-top:after {
  content: "";
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 6px 0 0 0;
  padding: 7px;
  border: solid #0A1F8F;
  border-width: 2px 0 0 2px;
  transform: rotate(45deg);
}
.back-to-top:hover {
  background-color: #ECF1F3;
}
.back-to-top.-visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s 0s, visibility 0s 0s, background-color 0.3s;
}

html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: 16px;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
  margin: 0;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell;
}
body.-fixed {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

main {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
}

.all-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.all-link {
  padding: 10px;
  color: #3B3C3F;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: "GeomanistBold";
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height: 16px;
  line-height: 1rem;
}
.all-link:hover {
  color: #48ABDF;
}

.content-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 24px;
  max-width: 1128px;
  width: 100%;
  height: 100%;
}

.offer-sticky {
  z-index: 2;
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 28px 10px 10px 10px;
  width: 100px;
  height: 70px;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #ECF1F3;
  color: #383E41;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 16px;
  line-height: 1rem;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}
.offer-sticky__icon {
  position: absolute;
  top: -27px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 4px;
  border: 1px solid #ECF1F3;
  border-radius: 50%;
  background-color: #fff;
}
.offer-sticky__icon img {
  z-index: 1;
  width: 44px;
  height: auto;
}
.offer-sticky__icon:after {
  content: "";
  z-index: 0;
  position: absolute;
  top: 26px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #fff;
}
@media only screen and (min-width: 768px) {
  main {
    min-height: 50vh;
  }
}
@media only screen and (min-width: 1024px) {
  .header-top {
    display: flex;
  }
  .header-bottom__nav {
    display: flex;
  }
  .header__hamburger {
    display: none;
  }
  h1 {
    font-size: 38px;
    font-size: 2.375rem;
    line-height: 40px;
    line-height: 2.5rem;
  }
  h2 {
    font-size: 26px;
    font-size: 1.625rem;
    line-height: 32px;
    line-height: 2rem;
  }
  h3 {
    margin: 30px 0 8px 0;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 26px;
    line-height: 1.625rem;
  }
  ul:not(.breadcrumb) li {
    margin: 0 0 2px 0;
  }
  .back-to-top {
    right: 40px;
    bottom: 130px;
    width: 60px;
    height: 60px;
  }
  .offer-sticky {
    right: 20px;
    bottom: 20px;
  }
  .-animation {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s 0.2s cubic-bezier(0.35, 0.46, 0.29, 1.07), transform 0.5s 0.2s cubic-bezier(0.35, 0.46, 0.29, 1.07);
  }
  .-animation.-done {
    opacity: 1;
    transform: translateY(0);
  }
}
@media only screen and (min-width: 1248px) {
  .header-top__container {
    padding-right: 150px;
  }
  .header-bottom__container {
    padding: 18px 150px;
  }
  .footer {
    padding: 0 155px;
  }
}
@media only screen and (min-width: 1340px) {
  .content-wrapper {
    align-items: stretch;
    padding: 0;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .content-wrapper {
    height: 100%;
  }
}