@font-face {
  font-family: "GeomanistThin";
  font-style: normal;
  font-weight: 100;
  src: url("/assets/font/Geomanist-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistExtraLight";
  font-style: normal;
  font-weight: 200;
  src: url("/assets/font/Geomanist-ExtraLight.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistLight";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/font/Geomanist-Light.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistRegular";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/font/Geomanist-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistMedium";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/font/Geomanist-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistBook";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/font/Geomanist-Book.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistBold";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/font/Geomanist-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistBlack";
  font-style: normal;
  font-weight: 800;
  src: url("/assets/font/Geomanist-Black.woff2") format("woff2");
}
@font-face {
  font-family: "GeomanistUltra";
  font-style: normal;
  font-weight: 900;
  src: url("/assets/font/Geomanist-Ultra.woff2") format("woff2");
}
.standard-page {
  padding: 62px 24px 95px 24px;
}
.standard-page__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 744px;
  width: 100%;
}
.standard-page__content h3 {
  margin: 36px 0 0 0;
}
.standard-page__content h3:first-child {
  margin-top: 0;
}
.standard-page__content p strong {
  display: flex;
  margin: 20px 0 -10px 0;
}
@media only screen and (max-width: 1023px) {
  .standard-page__content p img {
    margin: 0 0 12px -24px;
    width: calc(100% + 48px);
    max-width: initial;
  }
}
@media only screen and (min-width: 1024px) {
  .standard-page {
    padding: 90px 0 110px 0;
  }
  .standard-page__content h3 {
    margin: 35px 0 16px 0;
  }
  .standard-page__content p img {
    margin: 15px 0 20px 0;
  }
  .standard-page__content ul {
    margin: 0 0 15px 0;
  }
}