// -- COLORS --
$white:#fff;
$black: #000;

$outer-space: #383E41;
$mystic-two: #E6EEF0;
$mystic-four: #ECF1F3;

$ultramarine: #0A1F8F;
$catskill-white: #F0F6F8;


$eastern-blue: #1C8CB7;
$porcelain: #F2F5F6;
$picton-blue: #48ABDF;
$havelock-blue: #5FA5D9;
$tuna: #3B3C3F;
$cello: #223963;
$alto: #D9D9D9;
$azure: #2F6BAB;
$mystic: #EBF1F3;
$wild-sand: #F5F5F5;
$mid-gray: #636364;
$yellow-orange: #FBB03B;
$boston-blue: #3277BC;
$tapestry: #9F4896;
$shark: #2F3031;
$manatee: #979798;
$scarpa-flow: #59595A;
$abbey: #48494A;
$nevada: #696C6D;

:root {
	// 768
	@include mq(tablet, min) {
	}

	// desktop
	@include mq(tablet-wide, min) {
	}

	@include mq(desktop, min) {
	}

	@include mq(desktop-wide, min) {
	}
}
