{% set successStoriesSubPage = data.contents | findContent('success-stories-sub-page','result') %}
{% if successStoriesSubPage and successStoriesSubPage.length != "" and successStoriesSubPage != "false" %}

<section class="success-stories -animation" lazy="-done" lazy-element>
  <div class="success-stories__container">

    {% for item in successStoriesSubPage %}
      {% set item = item[0] %}

      {% set companyName = item.contents | findContent('company-name') %}
      {% set headline = item.contents | findContent('headline') %}
      {% set editor = item.contents | findContent('text-editor') | safe %}
      {% set authorImage = item.contents | findContent('author-image') %}
      {% set authorTitle = item.contents | findContent('author-title') %}
      {% set imageDefault = "/assets/svg/author-icon.svg" %}

      {% if loop.index < 4 %}
      <div class="success-stories__card">
        <h3 class="success-stories__company">{{companyName}}</h3>
        <h4 class="success-stories__headline">{{headline}}</h4>
        <div class="success-stories__text">{{editor}}</div>
        <div class="success-stories__bottom-wrapper">
          <div class="success-stories__image">
            <img lazy="{{authorImage if authorImage != false else imageDefault}}" class="{{'-padding' if authorImage == false else ''}}" alt="{{item.name}}">
          </div>
          <div class="success-stories__author-wrapper">
            <h2 class="success-stories__author-name">{{item.name}}</h2>
            <h5 class="success-stories__author-title">{{authorTitle}}</h5>
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="success-stories-all all-container">
    <a href="/" class="success-stories-all__link all-link">{{ data.languagesTags | findTag('all-success-stories-button', data.content.languageID) }}</a>
  </div>
</section>

{% endif %}