@mixin font-face($name, $path, $weight: 400, $style: normal, $exts: woff2 woff) {
	$src: null;

	@each $ext in $exts {
		$src: append($src, url(quote($path + "." + $ext)) format(quote($ext)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

@include font-face("GeomanistThin", "/assets/font/Geomanist-Thin", 100, normal, woff2);
@include font-face("GeomanistExtraLight", "/assets/font/Geomanist-ExtraLight", 200, normal, woff2);
@include font-face("GeomanistLight", "/assets/font/Geomanist-Light", 300, normal, woff2);
@include font-face("GeomanistRegular", "/assets/font/Geomanist-Regular", 400, normal, woff2);
@include font-face("GeomanistMedium", "/assets/font/Geomanist-Medium", 500, normal, woff2);
@include font-face("GeomanistBook", "/assets/font/Geomanist-Book", 600, normal, woff2);
@include font-face("GeomanistBold", "/assets/font/Geomanist-Bold", 700, normal, woff2);
@include font-face("GeomanistBlack", "/assets/font/Geomanist-Black", 800, normal, woff2);
@include font-face("GeomanistUltra", "/assets/font/Geomanist-Ultra", 900, normal, woff2);

$GeomanistThin: "GeomanistThin";
$GeomanistExtraLight: "GeomanistExtraLight";
$GeomanistLight: "GeomanistLight";
$GeomanistRegular: "GeomanistRegular";
$GeomanistMedium: "GeomanistMedium";
$GeomanistBook: "GeomanistBook";
$GeomanistBold: "GeomanistBold";
$GeomanistBlack: "GeomanistBlack";
$GeomanistUltra: "GeomanistUltra";
