@mixin font-face($name, $path, $weight: 400, $style: normal, $exts: woff2 woff) {
	$src: null;

	@each $ext in $exts {
		$src: append($src, url(quote($path + "." + $ext)) format(quote($ext)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

@include font-face("HelveticaUltraLight", "/assets/font/Helvetica/Helvetica-ultraLight", 100, normal, woff2);
@include font-face("HelveticaThin", "/assets/font/Helvetica/Helvetica-thin", 200, normal, woff2);
@include font-face("HelveticaLight", "/assets/font/Helvetica/Helvetica-light", 300, normal, woff2);
@include font-face("HelveticaRegular", "/assets/font/Helvetica/Helvetica-regular", 400, normal, woff2);
@include font-face("HelveticaMedium", "/assets/font/Helvetica/Helvetica-medium", 500, normal, woff2);
@include font-face("HelveticaBold", "/assets/font/Helvetica/Helvetica-bold", 700, normal, woff2);
@include font-face("HelveticaHeavy", "/assets/font/Helvetica/Helvetica-heavy", 800, normal, woff2);
@include font-face("HelveticaBlack", "/assets/font/Helvetica/Helvetica-black", 900, normal, woff2);

@include font-face("TimesBold", "/assets/font/Times/Times-new-roman-bold", 700, normal, woff2);
@include font-face("Times", "/assets/font/Times/Times-new-roman", 400, normal, woff2);

$HelveticaUltraLight: "HelveticaUltraLight";
$HelveticaThin: "HelveticaThin";
$HelveticaLight: "HelveticaLight";
$HelveticaRegular: "HelveticaRegular";
$HelveticaMedium: "HelveticaMedium";
$HelveticaBold: "HelveticaBold";
$HelveticaHeavy: "HelveticaHeavy";
$HelveticaBlack: "HelveticaBlack";

$TimesBold: "TimesBold";
$Times: "Times";
